body {
    font-family: 'Roboto';
    /* background: linear-gradient(90deg, rgba(141, 194, 111, 1)0%, rgba(118, 184, 82, 1)50%); */


    background: linear-gradient(to right, #e2dede, #e2dede);
}

.inner-row {
    height: 100vh;
}

.primaryBg {
    background-color: rgba(141, 194, 111, 1);
}

.primaryColor {
    color: rgba(141, 194, 111, 1);
}

.form-box {
    background: #fff;
}

.form-box1 {
    width: 100%;
}

.login-pic {
    width: 50%;
}