body {
    font-family: 'Roboto';
    background-image: url(../img/high-angle-controller-vr-glasses.jpg); 
   background-repeat: no-repeat;
   background-attachment: fixed;
    background-size: cover; 

}


.content-procuct {
    display: flex;
}


/* dashboord  */
.nav-brand {
    color: rgb(255, 255, 255);
    font-size: larger;
    margin: 1rem;

}

/* for signup   */
.primaryColor {
    color: rgba(141, 194, 111, 1);
}

.form-box {
    background: linear-gradient(180deg, #4F5362 0%, rgba(79, 83, 98, 0) 100%);
    border-radius: 16px;
    backdrop-filter: blur(5px);
    width: 70%;
    margin-top: 5rem;

}

.login-btn {
    background-color: #66A032;
}

.btn-cart {
    padding: 10px;
    font-size: 19px;
}

/*  nav bar      */

nav {
    height: 3rem;
    padding: 10px;
    background: #262725 !important;
    
}

.image{
    width: 50px;
    height: 50px;
}
/* for card statistique  */
.card{
  background-color: rgba(68, 97, 152, 0.64);

}